<!-- Footer -->

<footer class="footer">

  <div class="row full-width">

    <div class="small-12 medium-3 large-4 columns">

      <i class="fi-laptop"></i>
        <h4>Partners</h4>
      
      <p>© 2016 O-HoAC, OHC. All rights reserved.</p>
    </div>

    <div class="small-12 medium-3 large-4 columns">

      <i class="fi-html5"></i>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit impedit consequuntur at! Amet sed itaque nostrum, distinctio eveniet odio, id ipsam fuga quam minima cumque nobis veniam voluptates deserunt!</p>

    </div>

    <div class="small-6 medium-3 large-2 columns">

      <h4>Know Us</h4>

      <ul class="footer-links">

        <li><%= link_to "FAQ's", faqs_path %></li>
        <li><%= link_to "TERM", terms_path%></li>
        <li><%= link_to "HELP", "#"%></li>
        <li><%= link_to " ABOUT US", about_path%></li>
        <li><%= link_to "CONTACT US", contact_us_path%></li>

        </ul>

    </div>

    <div class="small-6 medium-3 large-2 columns">

      <h4>Follow Us</h4>

      <ul class="footer-links">


        <li><a href="#"></a></li>

        <li><a href="#"></a></li>

        <li><a href="#"></a></li>


        </ul>

    </div>

  </div>

</footer>