
<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">

  <button class="menu-icon" type="button" data-toggle></button>

  <div class="title-bar-title">
    <span>Menu</span>
  </div>

</div>


<div class="top-bar" id="main-menu">

  <div class="top-bar-left">

    <ul class="dropdown menu" data-dropdown-menu>

      <li class="menu-text"><%=link_to "OHoAC", root_path%></li>

      <% if logged_doctor_in? %>
          <li class="has-submenu">

            <%= link_to 'Filter Appointments', '#', class: 'default' %>

            <ul class="submenu menu vertical" data-submenu>
              <li><%= link_to "All Appointments", current_doctor%></li>
              <li><%= link_to "By Today's Date", doctor_path(current_date: Date.today, id: current_doctor) %></li>
            </ul>

          </li>
      <%end%>

    </ul>

  </div>

  <div class="top-bar-right">

    <ul class="menu" data-responsive-menu="drilldown medium-dropdown">
      <%= render 'page/shared/links'%>
    </ul>

  </div>

</div>

