<li><%= link_to "Home", root_path %></li>
<li><%= link_to "Help", "#"%></li>
<% if logged_user_in?%>

    <li class="has-submenu">

      <%= link_to 'Profile', current_user %>

      <ul class="submenu menu vertical" data-submenu>
        <li><%= link_to 'My Account', current_user %></li>
        <li><%= link_to 'Settings', edit_user_path(current_user)%></li>

        <li><a href="#">Stuffs</a></li>

        <li><%= link_to 'Logout', logout_path, method: :delete %></li>

      </ul>

    </li>
    <%elsif logged_doctor_in?%>
    <li class="has-submenu">
    <%= link_to "Blood Banks", "#", class: 'in-active'%>
      <ul class="submenu menu vertical" data-submenu>

        <li><%= link_to "Which Hospital?", "#", class: 'in-active'%></li>
        <li><%= link_to "Blood Donors", "#", class: 'in-active'%></li>
      </ul>
    </li>


    <li class="has-submenu">

      <%= link_to 'Profile', current_doctor %>

      <ul class="submenu menu vertical" data-submenu>
        <li><%= link_to 'My Account', current_doctor %></li>
        <li><%= link_to 'Settings', edit_doctor_path(current_doctor)%></li>

        <li><a href="#">Stuffs</a></li>

        <li><%= link_to 'Logout', signout_path, method: :delete %></li>

      </ul>

    </li>

  <%else%>

    <li><%= link_to "Log in", login_path %></li>

    <li><%= link_to "Sign up", signup_path%></li>

<%end%>





