<%if logged_doctor_in? %>
    <li><%= link_to "Welcome Dr #{current_doctor.doctors_name.capitalize}", '#', class: 'default'%></li>
    <%end%>
<li><%= link_to "Home", root_path %></li>

<% if logged_user_in?%>
    <li class="has-submenu">

      <%= link_to 'Filter by department' , class: 'default' %>

      <ul class="submenu menu vertical" data-submenu>
        <% Department.all.each do |department| %>
            <li><%= link_to department.department_name, user_path(department: department.department_name, id: current_user) %></li>
        <% end %>

      </ul>

    </li>
    <li class="has-submenu">

      <%= link_to "#{current_user.name.capitalize}", current_user %>

      <ul class="submenu menu vertical" data-submenu>
        <li><%= link_to 'My Account', current_user %></li>
        <li><%= link_to 'Settings', edit_user_path(current_user)%></li>

        <li><a href="#">Stuffs</a></li>

        <li><%= link_to 'Logout', logout_path, method: :delete %></li>

      </ul>

    </li>
    <%elsif logged_doctor_in?%>
      <li class="has-submenu">
      <%= link_to "Blood Banks", "#", class: 'inactive'%>
        <ul class="submenu menu vertical" data-submenu>

          <li><%= link_to "Which Hospital?", "#", class: 'in-active'%></li>
          <li><%= link_to "Blood Donors", "#", class: 'in-active'%></li>
        </ul>
      </li>


      <li class="has-submenu">

        <%= link_to "Dashboard", current_doctor%>

        <ul class="submenu menu vertical" data-submenu>
          <li><%= link_to 'My Dasboard', current_doctor, class: 'hide-for-large' %></li>
          <li><%= link_to 'Settings', edit_doctor_path(current_doctor), style: "border-bottom: 1px solid #F7F7F7"%></li>


          <li><%= link_to 'Logout', signout_path, method: :delete %></li>

        </ul>

      </li>

  <%elsif logged_admin_in? %>
  <li class="has-submenu">

        <%= link_to "#{current_admin.name.upcase}"%>

        <ul class="submenu menu vertical" data-submenu>
          <li><%= link_to "Dashboard", ohoac_administration_dashboard_path %></li>
          <li><%= link_to 'Dashboard', ohoac_administration_dashboard_path, class: 'hide-for-large' %></li>
          <li><%= link_to 'Doctors', ohoac_administration_dashboard_doctors_all_path , style: "border-bottom: 1px solid #F7F7F7"%></li>
          <li><%= link_to 'Users', ohoac_administration_dashboard_users_all_path , style: "border-bottom: 1px solid #F7F7F7"%></li>


          <li><%= link_to 'Logout', ohoac_administration_adminsesions_logout_path, method: :delete %></li>

        </ul>

      </li>
  <%else%>

    <li><%= link_to "Log in", login_path %></li>

    <li><%= link_to "Sign up", signup_path%></li>

<%end%>





