<%= form_for @user, html: {multipart: true} do |f| %>
    <%= render 'users/shared/error_messages', object: @user %>

    <div class="row">
      <div class="large-7 medium-7 small-8 columns">
        <%= f.label "Profile picture" %>
        <%= f.file_field :profile_photo, id: 'photoselect'%>
      </div>
      <div class="large-5 medium-5 small-4 columns">
        <div id="target">
        <% if @user.gender.name.downcase == "male" %>
            <%= image_tag('male.png')%>
                <%else%>
            <%= image_tag('female.svg.png')%>
            <%end%>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="large-6 columns">
            <%= f.label :first_name %>
            <%= f.text_field :first_name%>
        </div>
        <div class="large-6 columns">
            <%= f.label :last_name %>
            <%= f.text_field :last_name%>
        </div>
    </div>

    
    <%= f.label "Date Of Birth" %>
    <%= f.date_field :dob, placeholder: "yyyy-mm-dd" %>

    <div style="text-align: center">
    <%= f.submit yield(:button_text), class: "button large-5" %>
    </div>
<% end %>