<%provide(:title, 'Sign up') %>
<%provide(:button_text, 'Sign me up!')%>
<div class="row">
  <div class="large-6 large-offset-3 columns"
       style="
           background-color: rgba(255, 255, 255, 0.64);
           margin-top: 10px;
           margin-bottom: 10px;
               -webkit-border-radius: 4px;
               -moz-border-radius: 4px;
               -ms-boder-radius: 4px;
               border-radius: 4px;
       ">
  <div class="large-12 columns">
    <div style="text-align: center"><h1>Sign up</h1></div>
    <%= render 'users/shared/form' %>
    <div style="margin-bottom: 10px; text-align: center">
      By signing up, you agree to our<br>
      <strong><%= link_to 'terms of use'%></strong>, <strong><%= link_to 'privacy policy'%></strong>,<br>
      and <strong><%= link_to 'cookie policy'%></strong>.
    </div>
    <div style="text-align: center">
      <hr class="style-eight">
      <p>
        Have an Account as?<br> <strong><%= link_to "User", login_path %></strong>
        <span></span>
        <strong><%= link_to 'Doctor', signin_path%></strong>
      </p>
    </div>
  </div>
  </div>
</div>

