<%provide(:title, @user.name.capitalize) %>
<div class="row">
  <div class="large-3 columns"
       style="
       background-color: #ffffff;
           margin-top: 0px;
           -webkit-border-radius: 4px;
           -moz-border-radius: 4px;
           border-radius: 4px;
           margin-bottom: 100px;
       ">
    <h4 id="profileN"><%= @user.name.capitalize%>
    <hr class="profile">
    </h4>
    <div class="row">
      <div class="large-12 small-12 medium-5 columns end">
        <div class="card">

          <div class="image">

            <!--<img src="http://images.freeimages.com/images/previews/cf6/bird-1394216.jpg">-->
            <%= image_tag('doctor.svg.png', alt: 'image')%>


          </div>

          <div class="content">

            <p>
              infos
            </p>

          </div>

          <div class="action">

            <p><strong><%= @user.email%></strong></p>
            <p><strong><%= @user.mobile_phone%></strong></p>


          </div>

        </div>
      </div>
      <!--<div class="large-6 small-8 columns">
        <p>mobile number</p>

        <p>0000000000</p>
        <p>0000000000</p>

      </div>-->
      <hr style="margin: 10px; padding-top: 20px">
    </div>
    <div class="row">
      <div class="large-12 columns" style="margin-top: 40px;">
        <h5>Notifications</h5>
        <ul class="accordion" data-accordion data-allow-all-closed="true" data-accordion>
          <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title">My Appointments <span class="badge" style="margin-left: 20px"> 1</span></a>
            <div class="accordion-content" data-tab-content>
              <%if @appointments.empty?%>

                <p>empty</p>
              <%else%>

              <p>You appointments reasons</p>
                  <%@appointments.each do |appointment|%>
                      <p><%=appointment.reason%> <%= link_to "destroy",
                                                             user_doctor_appointment_path(appointment.user_id,
                                                                                          appointment.doctor_id,
                                                                                          appointment.id), method: :delete  %></p>
                      <%end%>

              <%end%>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>




  <div class="large-8 columns" id="container"
       style="
           margin-top: 10px;
           margin-bottom: 10px
       ">
      <% if @doctors.count == 0 %>
        <%= render 'users/shared/no_doctors' %>
        <%else%>
        <div class="availabeD">
          <p>Available Doctors</p>
        </div>

        <% @doctors.each do |doctor|%>
            <div class="row" style="margin-bottom: 5px;" id="container">

              <div class="large-5 small-12 medium-6 columns end">

                <div class="card">

                  <div class="image">

                    <!--<img src="http://images.freeimages.com/images/previews/cf6/bird-1394216.jpg">-->
                    <%= image_tag('doctor1.png', alt: "image")%>

                    <span class="title">
                  Dr. <%= doctor.doctors_name.capitalize%>

                    </span>

                  </div>

                  <div class="content">
                    <p>
                      Current Hospital: <strong><%= doctor.current_hospital%></strong>
                    </p>

                    <p>
                      Speciality: <strong><%= doctor.speciality%></strong>
                    </p>

                    <p>
                      Experience: <strong><%= doctor.work_experience %></strong>
                    </p>
                    <p>
                      Working Days: <strong><%= doctor.working_days %></strong>
                    </p>

                    <p>
                      Working Hours: <strong><%= doctor.working_hours%></strong>
                    </p>

                  </div>

                  <!--<div class="action">

                    <a href='#'>Read more...</a>

                  </div>-->

                </div>

              </div>
    <!-- profession section-->
              <div class="medium-7 columns end">

                <div class="card">

                  <div class="content">

                    <span>Professional Details</span>

                    <p>
                      <%= doctor.professional_details%>
                    </p>

                  </div>

                  <div class="action">
                    <%if doctor.status%>
                    <!--<a href='#'>Online</a>-->
                        <%= link_to 'Schedule',
                                    new_user_doctor_appointment_path(@user, doctor)%>

                    <%else%>
                    <a href='#'>Offline</a>
                    <%end%>
                  </div>

                </div>

              </div>

            </div>
        <%end%>
        <div style="text-align: center">
          <%= will_paginate @doctors, renderer: BootstrapPagination::Rails %>
        </div>

        <%end%>




  </div>

</div>




