<%provide(:title, "O-HoAC") %>
<div class="row row-top">
  <div class="large-3 columns"
       style="
       background-color: #ffffff;
           margin-top: 10px;
           -webkit-border-radius: 4px;
           -moz-border-radius: 4px;
           border-radius: 4px;
           margin-bottom: 10px;
       ">
    <h4 id="profileN"><%= @user.name.capitalize%>
    <hr class="profile">
    </h4>
    <div class="row">
      <div class="large-12 small-12 medium-5 columns end">
        <div class="card">

          <div class="image">

            <!--<img src="http://images.freeimages.com/images/previews/cf6/bird-1394216.jpg">-->
            <% if current_user.gender.name.downcase == "male" %>

            <% if current_user.profile_photo_file_size == nil%>
              <%= image_tag('male.png', alt: @user.name)%>
              <%else%>
                <%= image_tag(current_user.profile_photo.url(:medium), alt: @user.name)%>
            <%end%>
              
            <%else%>
              <%= image_tag('female.svg.png', alt: 'image')%>
            <%end%>

          </div>

          <div class="content">

            <p>
              infos
            </p>

          </div>

          <div class="action">
            <p><strong><a><%= @user.email%></a></strong></p>
            <p>Town: <strong><%= @user.city.city_name%></strong></p>
            <p>Mobile: (+237)<strong><%= @user.mobile_phone%></strong></p>    
          
          </div>

        </div>
      </div>

      <hr style="margin: 10px; padding-top: 20px">
    </div>
    <div class="row">
      <div class="large-12 columns" style="margin-top: 40px;">
        <h5>
             Menu
          <hr>
        </h5>
        <p>My appointments <span class="badge"><%= @appointments.count %></span></p>
        <ul class="footer-links">
          <li><a class="show-doctors">Doctors</a></li>
          <li><a>My appointments</a></li>
          <li></li>
        </ul>
      </div>
    </div>
  </div>




  <div class="large-9 columns" id="container"
       style="
           margin-top: 1px;
           margin-bottom: 10px;
       ">
    <h3 class="current-department"><%= params[:department] %></h3>
      <% if @doctors.count == 0 %>
        <%= render 'users/shared/no_doctors' %>
        <%else%>
        <div class="availabeD">
          <p>Available Doctors</p>
        </div>
        <div class="row" style="margin-bottom: 5px;" id="container">
        <% @doctors.each do |doctor|%>

              <% if doctor.first_name.nil? || doctor.last_name.nil? %>

              <%else%>


                  <div class="large-4 small-12 medium-6 columns end">

                    <div class="card">

                      <div class="image">

                        <!--<img src="http://images.freeimages.com/images/previews/cf6/bird-1394216.jpg">-->
                        <%= link_to image_tag(doctor.profile_photo.url(:large), alt: "#{doctor.first_name} #{doctor.last_name} image"), "#", id: "image_#{doctor.id}"%>


                        <span class="title">

                  Dr. <%= "#{doctor.first_name.capitalize} #{doctor.last_name}"%>
                    </span>

                      </div>

                      <div class="content">
                      <h4>Details</h4>
                      <hr>
                        <p>
                          <strong><%= doctor.current_hospital%></strong>
                        </p>

                        <p>
                          Current City: <strong><%= doctor.city.city_name%></strong>
                        </p>

                        <p>
                          Department: <strong><%= doctor.department.department_name%></strong>
                        </p>

                        <!--<p>
                      Working Days: <strong><%= doctor.working_days %></strong>
                    </p>-->

                        <p>
                          Working Hours: <strong><%= doctor.working_hours%></strong>
                        </p>

                      </div>

                      <div class="action">

                        <%if doctor.status%>
                            <!--<a href='#'>Online</a>-->
                            <%= link_to 'Book appointment',
                                        schedule_appointment_path(@user, doctor)%>

                        <%else%>
                            <a href='#'>Offline</a>
                        <%end%>
                      </div>

                    </div>

                  </div>

                  <!-- profession section
                  <div class="large-4 medium-7 columns end">

                    <div class="card">

                      <div class="content">

                        <span>About Me</span>

                        <p>
                          <%= doctor.professional_details%>
                        </p>

                      </div>

                      <div class="action">
                        <%if doctor.status%>
                            <%= link_to 'Schedule',
                                        schedule_appointment_path(@user, doctor)%>

                        <%else%>
                            <a href='#'>Offline</a>
                        <%end%>
                      </div>

                    </div>

                  </div>-->
              <%end%>



        <%end%>
        </div>
        <div style="text-align: center">
          <%= will_paginate @doctors, renderer: BootstrapPagination::Rails %>
        </div>

        <%end%>




  </div>

</div>




