<% if !@appointments.empty?%>

    <div class="large-9 medium-12 small-12 columns"
         style="
         margin-top: 5px;
             margin-bottom: 50px;
         ">

      <div class="row" style="margin-bottom: 0;">
        <% @appointments.each do |appointment|%>


            <div class="large-6 columns end" style="margin-bottom: 5px;">

              <div class="card">

                <div class="image">

                  <% if appointment.user.profile_photo_file_size == nil || appointment.user.gender.name.downcase == "male"%>
                  <%= image_tag('male.png', alt: 'patient image')%>
                  <%else%>

                  <%end%>

                  <span class="title">
                         Patient Name: <strong><%= "#{appointment.user.first_name.capitalize} #{appointment.user.last_name.downcase}"%></strong>
                      </span>

                </div>


                <div class="action">

                  <!--<a></a>-->
                  <h4 style="text-align: center; text-decoration: underline">Patient Details</h4>
                  <p>Appointment R: <strong><%= appointment.reason %></strong></p>
                  <p>Patient Contact: (+237) <strong><%= appointment.user.mobile_phone %></strong></p>
                  <p>Appointment Date: <strong><%= appointment.apt_date.strftime("%B %d, %Y") %></strong></p>

                  <p>Appointment Time: <strong><%= appointment.appt_time %></strong></p>
                                     
                  <p>Gender:  <%=appointment.user.gender.name %> </p>
                

                </div>
                <div class="action">

                    <a href='#'>Check</a>

                  </div>


              </div>

            </div>


        <%end%>

</div>
    <%else%>
    <div class="large-8 columns" style="background-color: #F7F7F7; margin: 0 5px 5px 5px;">
      <h3>place some stuffs here</h3>
    </div>
  <div class="row">
    <div class="large-8 columns" style="text-align: center;
        color: #8a8a8a;
        font-family: 'Lucida Grande', Arial, Helvetica, Sans-Serif;
        font-size: 20px;
        font-weight: 100">
      <p>APPOINTMENT LIST IS EMPTY </p>
    </div>
    <div class="large-8 columns">
      <div class="row">
        <div class="large-5 columns" style="margin-bottom: 10px;">
          <div class="row">
            <div class="large-12 columns">
              <h4>
                Welcome
              <hr style="margin: 0">
              </h4>
              <p>
                Thanks for creating an account with us.
                We hope you enjoy the new world of online appointments
              </p>
            </div>
            <div class="large-12 columns" style="margin-top: 10px">
              <h4>
                Help
              <hr style="margin: 0">
              </h4>
              <p>
                First, before using this account, do take a few seconds
                to update your informations. To do so, go to
                <strong>Dashboard > <%= link_to 'Settings', edit_doctor_path(@doctor) %></strong> and fill in your
                details. Completing the registrations will automatically active your account so patients will be able to know your
                <strong>working hours, working days, your field of expertise.</strong>
              </p>
            </div>
          </div>
        </div>


        <div class="large-5 columns"> 
          <h1>
            Note
          <hr style="margin: 0">
          </h1>
          <p>
            If you don't update you personal information<br>
            patients won't be able to discover you.
          </p>
        </div>

      </div>
    </div>


  </div>


<%end%>

<!--<div style="text-align: center">
   will_paginate @appointments, renderer: BootstrapPagination::Rails
</div>-->
</div>
