<div class="row">
    <div class="large-5 columns">
      <%= link_to "<", date: @date.prev_month%>
      <h2 id="month"><%= @date.strftime("%B %Y")%></h2>
      <%= link_to ">", date: @date.next_month%>
        <p><%= calendar  @date do |date| %>
    <%= date.day%>
    <% if @appointments_by_date[date] %>
            <ul>
              <% @appointments_by_date[date].each  do |appointment| %>
              <li><%= link_to appointment.user.name%></li>
              <%end%>
            </ul>
          <%end%>
    <% end %>
      </p>
    </div>
</div>