<div class="large-12">
  <h4 style="padding-top: 5px;">Dr. <%= @doctor.doctors_name.capitalize%>
    <hr class="profile">
  </h4>
  <div class="large-12 medium-12 small-12">
        <div class="card">

          <div class="image">
           <% if @doctor.gender.name.downcase == "male" %>
            <% if @doctor.profile_photo_file_size == nil %>
            <%= image_tag('male.png', alt: @doctor.doctors_name, style: "border-radius: 150px; padding: 20px;")%>
            <%else%>
            <%= image_tag(@doctor.profile_photo.url(:medium), alt: @doctor.doctors_name)%>
            <%end%>
            <%else%>
            <%= image_tag('doctor.svg.png', alt: 'image')%>
           <%end%>
            
          </div>

          <div class="content">
            <%= link_to "Edit profile", edit_doctor_path%>
            <hr style="margin-bottom: 20px; margin-top: 0">

            <p>

              Patients: <strong>0</strong>

            </p>

            <p>

              Missed appointments: <strong>0</strong>

            </p>

            <p>

              Checked appointments: <strong>0</strong>

            </p>

           <p>

             Appointment(s): <strong><%= Appointment.count %></strong>

           </p>



        </div><!--end card class here-->

        </div>
    <hr >
  </div>

  <div class="large-12 columns">
    <h5>Menu</h5>
    <ul style="list-style-type: none">
      <li><%=link_to "Settings", edit_doctor_path(current_doctor) %></li>
      <li><%= link_to "Logout", signout_path, method: :delete%></li>

    </ul>

    <!--<ul class="accordion" data-accordion data-allow-all-closed="true" data-accordion>

      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Checked Appointments</a>
        <div class="accordion-content" data-tab-content>
          Display a list of checked appointments here<br>
          <a href="#">Stuffs</a>

        </div>
      </li>

    </ul>-->
  </div>

</div>