<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "o-hoac.com" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render "layouts/shared/off-canvas" %>
    
  <script>

    $(document).foundation();
    $(function(){ 

      $('.slider-items').slick({
      dots: false,
      autoplay: true,
      autoplaySpeed: 3000,
      mobileFirst: true,
      arrows: false,
      pauseOnHover: false,
      fade: false,
      cssEase: 'linear',


   
    });

      $('.doctors').bxSlider({
          auto: true,
          autoControls: false,
          captions: true,
      });
$('#photoselect').on('change', function(event) {
        var files = event.target.files;
        var image = files[0]
        var reader = new FileReader();
        reader.onload = function(file) {
            var img = new Image();
            console.log(file);
            img.src = file.target.result;
            $('#target').html(img);
        }
        reader.readAsDataURL(image);
        console.log(files);
    });

  });

  </script>

  </body>
</html>
